<nav class="navbar navbar-expand-lg sticky-top s2" style="background-color: rgb(231, 225, 213);">

  <div class="container-fluid" >
      <div class="aling-items-center">
        <a class="navbar-brand" href="#">
          <img src="assets/imagenes/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"/>
        </a>
      </div>
      <div class="aling-items-center">
        <a class="navbar-brand" href="#">XXVCAH</a>
      </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Cursos</a>
        <a class="nav-link" href="#">Acerca de Nosotros</a>
        <a class="nav-link" href="#">Circular</a>
      </div>
    </div>
  </div>
</nav>
